@font-face{
  font-family: 'NormalFont';
  src: url(../fonts/SquadaOne-Regular.ttf)  format('truetype');
}
*{
  font-family: 'NormalFont';
}
:root{
  --main-color: #179;
  --select-color: #29f;
  --inactive-color: #556;
  --discard-text: #999;
}
body{
  overflow-x: hidden;
  background-color: #dde;
  animation-name: movingBg;
  background-size: 5em 5em;
  background-image: url(../img/bg.png);
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* -- Header -- */
header{
  z-index: 50;
  display: block;
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  height: 5.5em;
  color: white;
}
header::before{
  display: block;
  position: absolute;
  top: -.1em; left: .1em;
  z-index: 50;
  font-size: 4.5em;
  content: "HOPE/Con";            /* <---   Aquí el título de la página */
}
header::after{
  display: block;
  position: absolute;
  top: 3.7em; left: .7em;
  z-index: 50;
  content: "Release 2.134.76 v7";    /* <---   Aquí el subtítulo de la página */
}
header bar{
  display: block;
  position: absolute;
  z-index: 47;
  background-color: var(--main-color);
  transform: skewX(-45deg);
  top: 0;left: -3em;
  width: calc(75% - 2em);
  height: 100%;
}
header bar::after{
  display: block;
  position: absolute;
  z-index: 47;
  top:0;left: 75%;
  background-color: var(--main-color);
  width: calc(75% + 2em);
  height: 50%;
  content: "";
}
header detail{
  display: block;
  position: absolute;
  z-index: 47;
  top: calc(50% + .2em); left: calc(75% - 7em);
  width: 4.5em; height: calc(50% - .2em);
  overflow-x: hidden;
}
header detail::before{
  display: block;
  position: absolute;
  top: 0; left: 1.1em;
  width: 1em; height: 100%;
  background-color: var(--main-color);
  transform: skewX(-45deg);
  content: "";
}
header detail::after{
  display: block;
  position: absolute;
  top: 0; left: 2.5em;
  width: 3.2em; height: 100%;
  background-color: var(--main-color);
  transform: skewX(-45deg);
  content: "";
}

/* -- Menu principal -- */
#apartad{
  display: block;
  position: absolute;
  top: 6em; left: -2em;
  width: 50%; height: calc(100% - 10em);
  margin: 0; padding: 0;
}
#apartad li{
  list-style-type: none;
  margin: 0; padding: 0;
  display: block;
  position: relative;
  width: 100%;
  height: 25%;
}
#apartad li::after{
  display: block;
  content: attr(txt);
  position: absolute;
  top: 4.5em; left: 4em;
  color: var(--discard-text);
}
#apartad li:hover::after{
  color: var(--main-color);
}
#apartad li:last-child::after{
  animation-name: corruptCode;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 4s;
}
#apartad a{
  z-index: 30;
  display: block;
  position: relative;
  font-size: 2.5em;
  height: 1.75em;
  color: white;
  width: calc(100% - 3em);
  transform: skewX(-45deg);
  background-color: var(--inactive-color);
  transition: width .8s, background-color .5s;
  cursor: not-allowed;
}
#apartad a[active]{
  background-color: var(--main-color);
  cursor: pointer;
}
#apartad a[active]:hover{
  background-color: var(--select-color);
  width: calc(100% - 2em);
}
#apartad a::before{
  display: block;
  position: absolute;
  top: .1em; left: 1em;
  transform: skewX(45deg);
  content: attr(txt);
}
#apartad a::after{
  display: block;
  position: absolute;
  top:0; left: calc(100% + .3em);
  width: 0em;
  height: 100%;
  content: "";
  border-left: var(--inactive-color) solid .6em;
  border-right: var(--inactive-color) solid 0em;
  transition: border .7s, left .7s, width .7s;
}
#apartad a[active]::after{
  border-color: var(--main-color);
}
#apartad a[active]:hover::after{
  left: calc(100% + .2em);
  width: .2em;
  border-left-width: .5em;
  border-right-width: .3em;
  border-color: var(--select-color);
}

/* -- Chat menu principal -- */
chat{
  display: none;
  position: absolute;
  bottom: 7em; left: 50%;
  width: calc(50% - 2em);
  z-index: 25;
  border: dotted var(--discard-text);
  border-width: 0 2px;
}
msg{
  display: block;
  width: calc(100% - 2em - 5px);
  padding: 0 1em;
  border: dotted var(--discard-text);
  border-width: 0 3px;
}
msg[t="1"]{
  font-weight: 100;
  font-size: .98em;
  color: #444;
}
msg[t="2"]{
  font-weight: 600;
  font-size: .94em;
  color: #800;
}
msg u{
  text-decoration: none;
  vertical-align: text-bottom;
  padding-right: .5em;
}
msg u::before{
  font-size: 1.05em;
  color: var(--main-color);
  content: attr(txt);
  font-weight: 900;
}
msg con::before{
  content: ">//";
  font-weight: 600;
}
msg con::after{
  font-size: .8em;
  padding-right: .5em;
  content: "RtBOT-PiNGA:";
  vertical-align: text-top;
  font-weight: bold;
}

l{
  font-size: .96em;
  color: #00f;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}
l[t="0"]::after{content: attr(txt)}
l[t="1"]::after{content: "ww3.malwarecoffe.it";}
l[t="2"]::after{content: "www.notavirus.net";}

.viruspic{
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* -- Virus effects -- */
body[data-virus="0"] chat{
  display: block;
}
body[data-virus="1"]{
  background-color: #edd;
  background-image: none;
}
body[data-virus="1"] *{
  font-family: serif;
  --main-color: #740;
  --select-color: #f92;
  --discard-text: #a99;
}
body[data-virus="1"] .viruspic{
  display: block;
  mix-blend-mode: multiply;
  background-image: url(../img/coffe.jpg);
}
.trol{
  display: block;
  position: absolute;
  width: 25%;
  height: 20%;
  z-index: 55;
  background-color: #ddd;
  border: solid 1px var(--inactive-color);
  border-top-width: 1.2em;
  background-image: url(https://c.tenor.com/cO9yB-vuNQUAAAAd/yay-brushing.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.trol::after{
  position: absolute;
  top: -1em; left: .1em;
  width: .35em; height: .35em;
  border-radius: 1em;
  background-color: var(--inactive-color);
  border: solid .2em white;
  display: block;
  content: "";
  cursor: pointer;
}
#trololo .trol:nth-child(1){top: 5%; left: 5%;}
#trololo .trol:nth-child(2){top: 10%; left: 10%;}
#trololo .trol:nth-child(3){top: 15%; left: 15%;}
#trololo .trol:nth-child(4){top: 20%; left: 20%;}
#trololo .trol:nth-child(5){top: 25%; left: 25%;}
#trololo .trol:nth-child(6){top: 30%; left: 30%;}
#trololo .trol:nth-child(7){top: 35%; left: 35%;}
#trololo .trol:nth-child(8){top: 40%; left: 40%;}
#trololo .trol:nth-child(9){top: 45%; left: 45%;}

/* -- Animaciones -- */
@keyframes corruptCode{
  0%{content:"> Código Corrupto"}
  5%{content:"> 6od1go 6o¬rvp7o"}
  10%{content:"> k0Hig0 K0rrupt0"}
  15%{content:"> 6oo1oo 6oorupoo"}
  20%{content:"> 6odi6o Co44upto"}
  25%{content:"> Cód1go co5rvp7o"}
  30%{content:"> Código Corrupto"}
  35%{content:"> Cªªdìgò Cªrrùptò"}
  40%{content:"> Códígª Córrúptª"}
  45%{content:"> C137go co42u2to"}
  50%{content:"> Código Corrrrto"}
  55%{content:"> Ccodòd Coooooor"}
  60%{content:"> C̸̢̨̧̥̣͕̩̫̺̪͍̙̠̹̓͒̇̍̋̕ő̴͇̈́̀͗͐d̶̡̛͖̻̞̾̊̒͊̈́́̂̄ͅi̶̧̦͔̗̗̦̠̟̪͐ͅg̵̨͖͉̱̟̙̮͍͈̲̜̘̻̩̀̐̀̈́̋͑̄̃ͅǫ̶̤̤̭̝̠̩̰̞̩̀̓͊͆̋̒̔͋͑̌͠ ̶̧̰͍͚͈͚̘̰͕̰̾͂C̴̮̦͈̫̠͕̣͚̅̎̌͠o̶̡̢̞͕̜͍̲͕̟͍̰͔͔̘̩̓́̅̉͊͝r̸̥̹̤͔̝̜̼̳͖̖̯̙̥̖̓̎̇̋͑͊͛͘ͅr̵̛̝̖̟̠̗͆̔͋͛̈̑̏̈́̐̽͘͠ư̶̥̿̎͂̀̿͌̍̐̇̾̒̋̀͝p̶̛͉̒̈́̈́̂͊͐̅̒͛̽́0̶͕̈́"}
  65%{content:"> Cód1go 6o5rvp7o"}
  70%{content:"> Código Corrupto"}
  75%{content:"> Cdbªgo Cº44bqTb"}
  80%{content:"> Cº01oo Co44ºq7o"}
  85%{content:"> Cbbbgg Crrrrgbb"}
  90%{content:"> 682igo 6orrup1o"}
  95%{content:"> Cádige Carrup7e"}
  100%{content:"> Cooiao Connuq1o"}
}

@keyframes movingBg{
  0%{background-position: 0em 0em;}
  100%{background-position: 5em 5em;}
}
/* Mejoras de la nave */
.mejoras{
  background-color: var(--discard-text);
  position: absolute;
  display: block;
  top: 7em;
  left: 0em;
  width: calc(25% - 2em);
  height:calc(100% - 8em);
  overflow-y:scroll;
  margin: 0; padding: 0;
  padding-left:2em ;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.mejoras::-webkit-scrollbar {
  display: none;
}
.mejoras li{
  list-style-type: none;
  margin: 0; padding: 0;
  cursor: pointer;
  font-size: 1.6em ;
  padding: 0.3em;
}
.mejoras li:hover{
background-color:#A2A2A2  ;
}
.ventanamejora{
background-color: rgba(250, 250, 250, 0.4);
position: absolute;
display: block;
top: 7em;
right: 6em;
width: calc(75% - 7.5em);
height:calc(100% - 7em);
padding: 0.4em;
}
#upgtag{
  outline: tomato 1px solid;
  width:fit-content;
  padding: 0.3em;
  top: 1em ;
}